<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <form action="/register" method="POST">
        <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
        <% }) %>

        <fieldset>
          <legend>Create an account</legend>
          <label for="username"><small>Username</small></label>
          <input type="text" id="username" name="username" autocomplete="off" />

          <label for="password"><small>Password</small></label>
          <input type="password" id="password" name="password" autocomplete="off" />

          <br />
          <button>Sign Up</button>
        </fieldset>
      </form>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
